<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @individuo.nome %>
</p>

<p>
  <b>Telefone:</b>
  <%= @individuo.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @individuo.email %>
</p>

<p>
  <b>Observacao:</b>
  <%= @individuo.observacao %>
</p>


<%= link_to 'Edit', edit_individuo_path(@individuo) %> |
<%= link_to 'Back', individuos_path %>
